    header {
      max-width: 1500px;
      text-align: center;
      background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f9c78df0edb464244bbabb04d1797d8');
      background-size: cover;
      color: rgba(1,50,32,1);
      margin: 65px 45px;
      font-family: 'Indie Flower', cursive;
    }
    a {
      color: white;
      text-decoration: none;
    background-color: transparent;
    }
    h1 {
      font-size: 70px;
      margin: 0;
      padding: 0;
      height: 85px;
      width: 475px;
      background: rgba(255,255,255, 1);
      background: linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
      background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
      background: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
      border-radius: 0 20px 20px 0;
    }
    img {
      height: 240px;
      width: 280px;
      margin: 20px 0 0 0;
      border: 7px solid white;
      border-radius: 100px 100px 100px 20px;
    }
    h2 {
      font-size: 30px;
      margin: 5px 0 5px 470px;
      padding: 20px 0 0 0;
      height: 60px;
      width: 320px;
      background: rgba(255,255,255, 1);
       background: linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
  background: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,.4));
      border-radius: 20px 5px 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    body {
      background: rgba(255,255,255, 1);
      margin: 0 auto;
    }
    article {
      max-width: 1250px;
      height: 1000px;
      width: 1250px;
      margin: 0 auto;
      padding: 0 auto;
      text-align: justify;
      font-family: 'Open Sans', sans-serif, cursive;
    }/*
    p {
      color: rgba(255,255,255,1);
      background: black;
      background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
      background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
      padding: 10px;
      line-height: 28px;
      text-align: justify;
      position: absolute;
      bottom: 0;
      margin: 0;
      height: 150px;
      transition: height .5s;
      -webkit-transition: height .5s;
      -moz-transition: height .5s;
    }*/
    .menu {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0 10px 0 10px;
    }/*
    small {
      opacity: 0;
}
*/
nav {
  color: rgba(255,255,255,1);
  text-align: center;
  background-color: rgba(1,50,32,0.7);
  height: 65px;
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  font-family: 'Indie Flower', sans-serif;
}
/*
.row {
  display: inline;
}*/

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    display: inline;
}
.container {
  background: rgba(1,50,32,1);
  /*
  height: 50px;*/
  height: 65px;
  width: 100%;/*
  margin: 0 auto;*/
    text-align: center;/*
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;*/
    
    display: table;/*
    display: inline;*/
}
/*
.clear {
    clear:both;
    }*/

.navbar-header {
/*
  height: 50px;
  width: 300px;*/
  margin-right: 10px; /*
  padding: 10px auto; */
  clear:left;
}

.navbar-left {
  background-color: rgba(1,50,32,1);
  height: 50px;
    width:280px;/*
    height:auto;*/
    float:left;
    margin-bottom:10px;
    padding: 0;
}
.navbar-right {
background-color: rgba(1,50,32,1);
  height: 50px;
    width:280px;/*
    height:auto;*/
    float:left;
    margin-bottom:10px;
    padding: 0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
/*
.first{
  background-image: url("http://i.imgur.com/coBdnjp.jpg");
  height: 300px;
      background-size: cover;
      position: relative;
      margin: 40px 0 0 0;
      border-radius: 12px;
}
.second{
  background-image: url("http://dash.ga.co/assets/secondcourse.jpg");
  height: 300px;
      background-size: cover;
      position: relative;
      margin: 40px 0 0 0;
      border-radius: 12px;
}
.third{
  background-image: url("http://dash.ga.co/assets/secondcourse.jpg");
  height: 300px;
      background-size: cover;
      position: relative;
      margin: 40px 0 0 0;
      border-radius: 12px;
}*/
    @media (max-width: 500px) {
      header {
        margin: 40px 25px;
      }
      h1 {
        font-size: 28px;
        height: 50px;
        width: 205px;
        padding: 5px;
        margin: 0 auto;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h2 {
        font-size: 20px;
        height: 50px;
        width: 205px;
        padding: 5px;
        margin: 5px auto;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        justify-content: center;
      }
      img {
        height: 160px;
        width: 180px;
      margin: 10px auto;
      border: 1px solid white;
      border-radius: 100px 100px 100px 100px;
    }
      li {
        padding: 5px;
        display: inline;
      }
      p {
          width: 250px;
        margin: 40px 25px;
        text-align: center;
      }
      nav {
        height: 25px;
        font-size: 15px;/*
        display: inline;*/
      }
      .navbar, .navbar-header, .container {
        height: 35px;
        width: 100%;
        font-size: 15px;/*
         display: table;*/
         margin: 0 auto;
         padding: 0;
         display: flex;
        align-items: center;
        flex-direction: row;
      }
      .navbar-left {
         height: 25px;
        width: 105px;
        font-size: 15px;/*
         display: table;
        float: left;*/
        margin: 0 auto;
        padding: 0;/*
        display: flex;
        justify-content: flex-end;
        align-items: center;*/
      }
      .navbar-right {
         height: 25px;
        width: 105px;
        font-size: 15px;/*
         display: table;
        float: right;*/
        margin: 0 auto;
        padding: 0;/*
        display: flex;
        align-items: center;
        justify-content: flex-start;*/
      }

    }


    @media (min-width: 768px) {
.navbar {
    margin: 0;
    display: inline;
  }
  
.navbar > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-header {
    float: left;
  }
  .navbar-collapse {
    float: right !important;
    margin-right: -15px;
  }/*
  .container {
    width: 750px;
}


}
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}
@media (min-width: 992px) {
.container {
    width: 970px;
}
}
